
@import 'reset.css';
@import 'fonts.css';


body {
  font-family: NexaRegular;	
  background: url(../images/bg-lines-dk.png);
  background-position: left;
}
em {
  font-family: NexaRegularItalic;
}
h1 {
  font-size: 40px;
  color: #01a8ec;
  line-height: 1.2;  
}
nav#anchor {
  display: block;
  width: 100%;
  background: #00a8ec;
  text-align: center;
  z-index: 9999;
}
nav#anchor a {
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  color: #ffffff;
  padding: 1.2%;
  border-bottom: 3px solid transparent;
}
nav#anchor a:hover {
  border-bottom: 3px solid #f09022;
}
nav#anchor a.active {
  border-bottom: 3px solid #f09022;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}
/* ==================================================== CUBES */
.intro-cubes {
  display: block;
  position: absolute;
  left: 0;
  margin-top: -80px;
  width: 161px;
  height: 239px;
  background: url(../images/cubes-intro.png);
  z-index: -1;
}
.overview-cubes {
  display: block;
  position: absolute;
  left: 0;
  margin-top: -100px;
  width: 161px;
  height: 239px;
  background: url(../images/cubes-overview.png);
  z-index: -1;
}
.cubes-intro {
  display: block;
  position: absolute;
  right: 0;
  margin-top: -20px;
  width: 161px;
  height: 239px;
  background: url(../images/cubes-intro.png);
  z-index: -1;
}
.cubes {
  display: block;
  position: absolute;
  right: 0;
  margin-top: -80px;
  width: 161px;
  height: 239px;
  background: url(../images/cubes.png);
  z-index: -1;
}
/* ==================================================== INTRO */
a.blue-btn {
  background: #8f2d56;
  color: #ffffff;
  margin: 20px 0 0 0;
  text-decoration: none;
  padding: 20px;
  text-transform: capitalize;
  font-size: 20px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
a.blue-btn:hover {
  box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
  filter: brightness(90%);
}
a.blue-btn i {
  margin-right: 4px;
}
.intro-bg {
  background: url(../images/bg-lines.png);
  background-position: left;
  background-repeat: repeat;
  position: relative;
  z-index: -2;
}
.intro-illo {
  display: block;
  position: absolute;
  right: 0;
  top: 10%;
  width: 40%;
  max-width: 620px;
  height: 0;
  padding-bottom: 53.18%;
  background: url(../images/intro-illo.png);
  background-size: 100%;
  background-position: top right;
  background-repeat: no-repeat;
  z-index: -1;
  animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; margin-top: 150px;}
    to   { opacity: 1; margin-top: 0px;}
}
section {
  display: block;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}
section#intro {
  padding: 60px 0;
}
section#intro h2 {
  font-family: NexaBold;
  color: #004282;
  font-size: 40px;
  line-height: 1.2;
  padding: 20px 0 0px 0;
}
section#intro h3 {
  font-family: NexaBold;
  color: #004282;
  font-size: 28px;
  line-height: 1.2;
  padding: 20px 0 20px 0;
}
section#intro h4 {
  font-family: NexaBold;
  color: #004282;
  font-size: 18px;
  line-height: 1.2;
  padding: 20px 0 20px 0;
}
section#intro p {
  max-width: 72%;
  font-size: 18px;
}
.sidebar {
  display: block;
  width: 35%;
  float: right;
  padding: 20px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
  background: #ffffff;
  margin-top: 20px;
}
section.content .sidebar h3 {
  font-size: 22px;
  line-height: 1.2;
  margin-top: 0;
  padding-top: 0;
  color: #8f2d56;
  text-align: center;
}
section.content .sidebar p {
  font-size: 16px;
  line-height: 1.2;
  font-family: NexaBold;
  margin-bottom: 20px;
  text-align: center
}
.sidebar img {
  max-width: 80px;
  margin: 0 auto;
  display: block;
}
.sidebar ul {
  position: relative;
  width: calc(100% - 30px);
}
.sidebar ul li {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px 0 15px 25px;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #d1dbea;
  color: #667e95;
  list-style: none;
  font-family: NexaBold;
}
.sidebar ul li:before{
   content: '';
   position: absolute;
   border-right:2px solid #8f2d56;
   border-bottom:2px solid #8f2d56;
   width:8px;
   height:8px;
   top: calc(50% - 2px);
   left: 0px;
   transform: translateY(-50%) rotate(-45deg);
}
.sidebar ul li:first-of-type {
  border-top: 1px solid #d1dbea;
}
.float {
  float: left;
  width: 56%;
  margin-top: 20px;
}
.clear {
  display: block;
  clear: both;
}
section.content {
  margin-top: 60px;
  padding-top: 60px;
}
section.content:first-of-type {
  border-top: none;
  padding-top: 0;
}
section.content h2 {
  text-align: center;
  font-family: NexaBold; 
  padding: 100px 0 30px;
  font-size: 14px;
  color: #a5b7c8;
  text-transform: uppercase;
}
.overview-bg {
  background: #edf1fb;
  width: calc(100% - 160px);
  margin: 79px auto -80px auto;
  padding: 5px 0 40px 0;
}
section#overview.content h2 {
  font-family: NexaBold;
  color: #8f2d56;
  font-size: 26px;
  line-height: 1.2;
  padding: 0px 0 20px 0;
}
section.content h3 {
  font-family: NexaBold; 
  color: #004282;
  font-size: 32px;
  padding: 20px 0 20px 0;
}
section.content h4 {
  text-align: center;
  color: #004282;
  font-family: NexaBold;
  font-size: 22px;
  margin: 0 auto;
  padding: 60px 0 0 0;
}
section p {
  font-size: 18px;
  color: #667e95;
  padding: 10px 0;
  line-height: 1.4;
}
.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.column {
  flex: 1;
  flex-basis: 10%;
  margin: 10px 5px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
  font-size: 12px;
  border: 1px solid rgba(0,0,0,0.1);
  border-top: 2px solid #f18f01;
  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}
.column img {
  width: 50%;
  max-width: 120px;
  margin: 0 auto;
}
.column h2 {
  font-size: 12px;
  padding: 20px 0 !important;
  color: #03a9ec !important;
}
.column p {
  font-size: 14px;
  padding: 0 !important;
}
@media screen and (min-width: 1600px) {
    section#intro p {
    max-width: 80%;
  }
}
@media screen and (max-width: 1400px) {
  .columns .column {
    margin: 10px;
    flex-basis: 20%;
    &:nth-last-child(2) {
      margin-right: 0;
    }
    &:last-child {
      flex-basis: 100%;
      margin: 0;
    }
  }
  .overview-bg {
    background: #edf1fb;
    width: calc(100% - 80px);
    margin: 40px auto 0 auto;
    padding: 5px 0 40px 0;
  }
  /* ==================================================== CUBES */
  .intro-cubes {
    background-size: 50%;
    background-repeat: no-repeat;
  }
  .overview-cubes {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  .cubes-intro {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top right;
  }
  .cubes {
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top right;
  }
}
@media screen and (max-width: 680px) {
  .columns .column {
    flex-basis: 100%;
    margin: 10px 0;
  }
  .intro-illo {
    display: none;
  }
  section#intro p {
    max-width: 100%;
  }
  .float {
    display: block;
    width: 100%;
    float: none;
  }
  .sidebar {
    display: block;
    width: 90%;
    float: none;
  }
}
