
@import 'reset.css';
@import 'fonts.css';


body {
  font-family: NexaRegular;	
  background: url(../images/bg-lines-dk.png);
  background-position: left;
}
h1 {
  font-size: 40px;
  color: #01a8ec;
  line-height: 1.2;  
}
nav#anchor {
  display: block;
  width: 100%;
  background: #00a8ec;
  text-align: center;
}
nav#anchor a {
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  color: #ffffff;
  padding: 1.5%;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}
.intro-bg {
  background: url(../images/bg-lines.png);
  background-position: left;
  background-repeat: repeat;
  position: relative;
  z-index: -2;
  overflow: hidden;
}
.intro-cubes {
  display: block;
  position: absolute;
  left: 0;
  margin-top: -80px;
  width: 161px;
  height: 239px;
  background: url(../images/cubes.png);
  z-index: -1;
}
.intro-illo {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 0;
  padding-bottom: 69.25%;
  background: url(../images/intro-illo.png);
  background-size: 200%;
  background-position: center right;
  background-repeat: no-repeat;
  z-index: -1;
  animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; margin-bottom: -50px;}
    to   { opacity: 1; margin-bottom: 0;}
}
section {
  display: block;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}
section#intro {
  padding: 60px 0;
}
section#intro h2 {
  font-family: NexaBold;
  color: #004282;
  font-size: 40px;
  line-height: 1.2;
  padding: 20px 0 0px 0;
}
section#intro h3 {
  font-family: NexaBold;
  color: #004282;
  font-size: 28px;
  line-height: 1.2;
  padding: 20px 0 20px 0;
}
section#intro h4 {
  font-family: NexaBold;
  color: #004282;
  font-size: 18px;
  line-height: 1.2;
  padding: 20px 0 20px 0;
}
section#intro p {
  max-width: 70%;
  font-size: 18px;
}
.sidebar {
  display: block;
  width: 30%;
  float: right;
}
.float {
  float: left;
  width: 65%;
}
.clear {
  display: block;
  clear: both;
}
section.content {
  margin-top: 60px;
  padding-top: 60px;
  border-top: 1px solid #00a8ec;
}
section.content:first-of-type {
  border-top: none;
  padding-top: 0;
}
section.content h2 {
  text-align: center;
  font-family: NexaBold; 
  padding: 40px 0 30px;
  font-size: 12px;
  color: #a5b7c8;
  text-transform: uppercase;
}
section#overview.content h2 {
  font-family: NexaBold;
  color: #00a8ec;
  font-size: 22px;
  line-height: 1.2;
  padding: 20px 0 20px 0;
}
section.content h3 {
  font-family: NexaBold; 
  color: #004282;
  font-size: 32px;
  padding: 20px 0 20px 0;
}
section.content h4 {
  text-align: center;
  color: #004282;
  font-family: NexaBold;
  font-size: 22px;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 0 0 0;
}
section p {
  font-size: 16px;
  color: #667e95;
  padding: 10px 0;
  line-height: 1.4;
}
.cubes {
  display: block;
  position: absolute;
  right: 0;
  margin-top: -80px;
  width: 161px;
  height: 239px;
  background: url(../images/cubes.png);
  z-index: -1;
}
.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.column {
  flex: 1;
  flex-basis: 10%;
  margin: 10px 5px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #f18f01;
  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}
.column img {
  width: 50%;
  max-width: 120px;
  margin: 0 auto;
}
.column h2 {
  font-size: 12px;
  padding: 20px 0 !important;
  color: #03a9ec !important;
}
.column p {
  font-size: 14px;
  padding: 0 !important;
}
@media screen and (max-width: 1400px) {
  .columns .column {
    margin: 10px;
    flex-basis: 20%;
    &:nth-last-child(2) {
      margin-right: 0;
    }
    &:last-child {
      flex-basis: 100%;
      margin: 0;
    }
  }
}

@media screen and (max-width: 680px) {
  .columns .column {
    flex-basis: 100%;
    margin: 10px 0;
  }
  .intro-illo {
    display: none;
  }
  section#intro p {
  max-width: 100%;
  font-size: 18px;
}
}
